body {
    background: #eeeeee;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.header {
    background: #f5ba13;
    width: 100%;
    padding: 15px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.heading {
    color: #ffffff;
    margin: 0 0 0 30px;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    margin: 0 20px;
    outline: none;
    border: none;
    width: 300px;
    font-family: inherit;
    line-height: 20px;
    resize: none;
    box-shadow: 0 2px 5px #ccc;
    padding: 5px;
}

.title-input {
    font-weight: bold;
    line-height: 40px;
    margin-top: 2%;
    border-radius: 10px 10px 0 0;
}

.content-input {
    border-radius: 0 0 10px 10px;
}

.flexContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.noteBox {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    margin: 2% 0 0 3%;
    width: 230px;
    word-break: break-word;
}

.noteTitle {
    margin: 7%;
}

.noteContent {
    margin: 5%;
    margin-bottom: 10%;
}

.buttonWrap-delete {
    position: absolute;
    background: #f5ba13;
    color: white;
    bottom: -10px;
    right: 20px;
    border-radius: 50%;
    padding: 5px;
}

.buttonWrap-delete:hover {
    background: grey;
    transition: 250ms;
}

.buttonWrap-edit {
    position: absolute;
    background: #f5ba13;
    color: white;
    bottom: -10px;
    right: 70px;
    border-radius: 50%;
    padding: 5px;
}

.buttonWrap-edit:hover {
    background: grey;
    transition: 250ms;
}


.buttonWrap-add {
    position: relative;
    background: #f5ba13;
    color: white;
    bottom: 20px;
    right: -115px;
    border-radius: 50%;
    padding: 5px;
}

.buttonWrap-add:hover {
    background: grey;
    transition: 250ms;
}

#Footer {
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 30px;
    text-align: center;
    background: #eeeeee;
    color: black;
    opacity: 0.5;
}
